@font-face {
    font-weight: 400;
    font-family: "TTCommons-Regular";
    src: url("./../assets/fonts/TTCommons-Regular.ttf");
}

@font-face {
    font-weight: 300;
    font-family: "TTCommons-Light";
    src: url("./../assets/fonts/TTCommons-Light.ttf");
}

@font-face {
    font-family: "Geologica-Regular";
    src: url("./../assets/fonts/Geologica-Regular.ttf");
}

body {
    width: 100%;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: "TTCommons-Light";
    background-color: #000;
}

.container {
    margin: 40px 39px 49px 40px;
    display: flex;
    gap: 31px;
}

.contacts {
    width: 322px;
    height: 780px;
}

.photo {
    width: 100%;
    height: 355px;
}

.photo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contacts-description {
    background-color: #F51B1B;
    padding: 40px 73px 158px 24px;
}

.contacts-main {
    width: 100%;
    margin-bottom: 40px;
}

.contacts-name {
    font-family: "Geologica-Regular";
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.02em;
    white-space: nowrap;
}

.contacts-age {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.contacts-links li {
    margin-bottom: 20px;
    font-size: 22px;
}

.contact-info {
    list-style: none;
}

.contact-info:before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 18px;
    margin-left: -32px;
    vertical-align: middle;
    background-size: cover;
}

.phone:before {
    background-image: url('./../assets/icons/phone-call.png');
}

.email:before {
    background-image: url('./../assets/icons/email.png');
}

.telegram:before {
    background-image: url('./../assets/icons/telegram.png');
}

.github:before {
    background-image: url('./../assets/icons/github.png');
}

.github a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}